@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'typoslab_irregular_demoRg';
    src: url('fonts/typoslab_irregular_demo-webfont.woff2') format('woff2'),
         url('fonts/typoslab_irregular_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}

body,
.title-section,
.form-section,
.form-list,
form,
.leftside,
.rightside,
label span,
footer {
    display: flex;
}

body {
    height: 100vh;
    background: url('rod-long-aJvSX36kweg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row-reverse;
}

img {
    height: 100%;
    /* border: 2px solid green; */
}

.title-section {
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.386);
    margin: 20px 170px 0 125px;
}

.title {
    font: 100px 'norsebold', sans-serif;
    color: white;
}

.form-section {
    flex-direction: column;
    margin-right: auto;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-around;
    width: 75%;
    padding: 20px;
    background-color: rgb(167, 176, 167);
}

header {
    font: 1.5em sans-serif;
    font-weight: bold;
    width: 85%;
}

header > p {
    margin: 40px;
}

.form-list {
    gap: 200px;
    /* border: 2px solid black; */
}

section {
    /* border: 4px solid rgb(126, 124, 124); */
    box-shadow: 0 0 10px 5px #558557;
    width: 104%;
    padding: 15px 0 15px 0;
}

form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.leftside,
.rightside {
    flex-direction: column;
    gap: 25px;
}

label span {
    display: block;
    text-align: left;
}

input {
    font: 1.3em sans-serif;
    padding: 0 10px;
    margin: 0;
    border-radius: 4px;
}

legend {
    font: 1.3em sans-serif;
    font-weight: bold;
}

footer {
    /* border: 2px solid red; */
    width: 75%;
    flex-direction: column;
    align-items: end;
    gap: 25px;
}

button {
    padding:15px 25px 15px 25px;
    font: 1.5em 'norsebold', sans-serif;
    border-radius: 5px;
    background-color: #596D48;
}

button:hover {
    background-color: green;
}

footer > p {
    font-style: sans-serif ;
}

input:hover {
    box-shadow: 0 0 5px 1px #3636d7;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid #558557;
}